<!doctype html>
<html >
<head>
<meta charset="utf-8">
<title>注册</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../../../../public/static/css/two.css">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">   </head>
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>
<body style="min-width: 800px;">
   <div class="b">
          <div class="a3">
              <img src="../../../../public/static/img/logo/logo1.png"alt="">  
          </div>
         
          <ul class="nav justify-content-center  " style="margin-top: -50px;" >
            <li class="nav-item">
              <a class="nav-link text-secondary " href="two.html" >主页</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary " href="#">概况</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary " href="#">教育</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="three1.html" >作品</a>
            </li>
          </ul>
            <ul class="nav justify-content-end  sidebar" style="margin-right: 10%;margin-top: -40px;">
            <li class="nav-item ">
              <a class="nav-link text-secondary " href="four.html">登录</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary " href="five.html">注册</a>
            </li>
          </ul>
       
          </div>
     <div class="a">
         <video src="../../../../public/static/img/视频/注册界面.mp4" style="object-fit: cover;" autoplay muted loop>
         </video>
         <div class="a1">
              <form class="box" action="{:url('five_info')}" method="POST">
              <h1>Superme</h1>
              <input type="text" name="name" placeholder="用户名">
              <input type="text" name="tel" placeholder="输入你的电话">
              <input type="text" name="zy" placeholder="您的职业">
              <input type="password" name="mima" placeholder="密码">
              <input type="submit"  s value="注册">
              </form>
         </div>
     </div>
     <div class="d">
        <div class="d2  text-center">声明</div>
        <div class="d3 text-center">Superme 所有内容之版权归原作者所有，任何商业用途均须取得授权；未经授权将内容盗取或用作他处，我们将保留追究侵权者法律责任之权利。
          <p>Superme 鼓励原创，请勿上传任何侵犯他人权利或违反相关法律法规之内容。</p>
        </div>
        <div class="bk"></div>
        <div class="d3 text-center
        ">© Copyright 2016 Superme 版权所有

         <p> 粤ICP备 06032157 号-2</p>
        </div>
        </div>

    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>

